footer {
  width: 100vw;
  height: 10vh;
  background-color: lightgrey;
  div {
    &.cont_foot {
      width: 80vw;
      margin: 0 auto;
      display: flex;
      div {
        &.cont_foot_left {
          width: 50%;
          ul {
            display: flex;
            margin-top: 20px;
            li {
              margin-right: 5px;
              font-size: 10px;
              color: grey;
            }
          }
        }
      }
      div {
        &.cont_foot_right {
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          float: right;
          div {
            &.icon_e {
              i {
                margin-top: 20px;
              }
            }
          }
          select {
            width: 100px;
            margin-top: 20px;
            margin-left: 10px;
            border: black solid 1px;
            border-radius: 2px;
          }
        }
      }

    }
  }
}
